/WikiToLearn/
/running/
!/running/.placeholder
/configs/
!/configs/.placeholder
/cache/
!/cache/.placeholder
/certs/
!/certs/.placeholder
/backups/
!/backups/.placeholder
/hooks/
!/hooks/ALL_EVENTS/.placeholder
!/hooks/.placeholder
/doc/html/
!/doc/html/
/mw-dumps/
!/mw-dumps/.placeholder
/mw-dumps-download/
!/mw-dumps-download/.placeholder
